<div class="loader-wrapper {{getInnerLoaderWidth()}}">
        <div class="loader-section">
          <mat-card class="example-card">
            <mat-card-content>
              <mat-progress-spinner
                  class="cp-loader"
                  [color]="color"
                  [mode]="mode"
                  [value]="value" [diameter]="40" strokeWidth="4"> 
              </mat-progress-spinner>
              <div class="loader-text">Loading ...</div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      